/*
 * ----------------------------------------------------------------------
 * App Container
 * ----------------------------------------------------------------------
 */
 .container {
	background-color: #36393f;
	border: 1px solid #202225;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 5px;
	border-right-width: 5px;
	padding-left: 0px;
	padding-right: 0px;
	    min-height: 100%;
    height: 100%;
 }

/*
 * ----------------------------------------------------------------------
 * Top Bar
 * ----------------------------------------------------------------------
 */
 .navbar-custom {
	background-color: #2f3136!important;
 }
 
.app-topbar {
	background-color: #2f3136;
	margin-bottom: 2px;
	border-style: solid;
	border: 1px solid #202225;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-bottom-width: 1px;
	font-size: 1rem;
	color: #72767d;
	text-shadow: #222327 1px 1px 1px;
}

.app-topbar-title, .app-topbar-title:hover {
	font-weight: bold;
	font-size: 1.6rem;
	color: #7289da;
	text-align: left;
}

.app-topbar-navitem {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-border-radius: 10px;
	border-radius: 10px;
}

.app-topbar-hash {
	color: #72767d;
	font-size: 24px;
	padding-right: 4px;
	font-family: monospace;
	vertical-align: middle;
}

.app-topbar-text {
	vertical-align: middle;
	color: #72767d;
	font-weight: bold;
}

.app-topbar-navitem a, .app-topbar-navitem a:link, .app-topbar-navitem a:visited {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-border-radius: 5px;
	border-radius: 5px;
}

.app-topbar-navitem a:hover {
	background-color: #40444b;
}

.app-topbar-navitem a:hover > .app-topbar-text, 
.app-topbar-navitem a:hover > .app-topbar-hash
{
	color: #fbfbfb;
}


.app-topbar-navitem a:active {
	background-color: #202225;
}

.app-topbar-navitem a:active > .app-topbar-text,
.app-topbar-navitem a:active > .app-topbar-hash {
	color: #d1d2d3;
}


.app-topbar-navitem-active a {
	background-color: #40444b;
}

/*
 * ----------------------------------------------------------------------
 * Content Area 
 * ----------------------------------------------------------------------
 */
 .app-content {
	 padding: 5px;
 }