/*
 * ----------------------------------------------------------------------
 * App Container
 * ----------------------------------------------------------------------
 */ 
.app {}

/*
 * ----------------------------------------------------------------------
 * Top Bar
 * ----------------------------------------------------------------------
 */ 
.app-topbar {
	background-color: #36393f;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #222327;
	text-shadow: #222327 1px 1px 1px;
	box-shadow: 2px 2px #2b2d32;
	margin-bottom: 2px;
	font-size: 1rem;
	color: #a6a7a8;
}

.app-topbar-title {
	font-weight: bold;
	font-size: 1.8rem;
	margin-top: -5px;
	color: #60be9a;
}

.app-topbar-navitem {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-border-radius: 10px;
	border-radius: 10px;
}

.app-topbar-hash {
	color: #72767d;
	font-size: 24px;
	padding-right: 4px;
	font-family: monospace;
	vertical-align: middle;
}

.app-topbar-text {
	vertical-align: middle;
	color: #72767d;
	font-weight: bold;
}

.app-topbar-navitem a, .app-topbar-navitem a:link, .app-topbar-navitem a:visited {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-border-radius: 5px;
	border-radius: 5px;
}

.app-topbar-navitem a:hover {
	background-color: #40444b;
}

.app-topbar-navitem a:hover > .app-topbar-text, 
.app-topbar-navitem a:hover > .app-topbar-hash
{
	color: #fbfbfb;
}


.app-topbar-navitem a:active {
	background-color: #202225;
}

.app-topbar-navitem a:active > .app-topbar-text,
.app-topbar-navitem a:active > .app-topbar-hash {
	color: #d1d2d3;
}


.app-topbar-navitem-active a {
	background-color: #40444b;
}

.app-topbar-search {
	width: 300px;
	box-shadow: 0px 0px 1px 1px #2b2d32;
	background-color: #202225;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-border-radius: 5px;
}

.app-topbar-search .fas {
	font-weight: bold;
	font-size: 20px;
	padding-right: 10px;
	vertical-align: middle;
	margin-top: 10px;
	color: #a6a7a8;
}

.app-topbar-search input {
	background-color: #202225;
	border-width: 0px;
}

.app-topbar-search input:focus {
	border-color: inherit;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/*
 * ----------------------------------------------------------------------
 * Content Area 
 * ----------------------------------------------------------------------
 */
.app-content {
}