.ActivityTable {
	color: #fdfdfd;
	background-color: #36393f;
	font-size: 0.9rem;
	table-layout: fixed;
}

.ActivityTable tr:hover {
	background-color: #484c52;
}

.ActivityTable tr th {
	background-color: #2f3136;
	border-top: 0px;
	color: #72767d;
	font-weight: bold;
}

.ActivityTable tr td {
	border-color: #3e4147;
	color: #d7d5d9;
}

.ActivityTable tr td {
	white-space: nowrap;
	overflow: hidden;	
	text-overflow: ellipsis;
}

.channel-hash {
	font-family: monospace;
	font-size: 1.2rem;
}